<%- include('../partials/header') %>
<div style="background-color: yellow">
  <div class="header"><h1>ADmin dashboard</h1></div>
  <div class="table">
    <table>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Admin Status</th>
      <tr>
        <td>1</td>
        <td>Abin Anto</td>
        <td>abin98anto@gmail.com</td>
        <td>not an admin</td>
      </tr>
    </table>
  </div>
  <div><button id="logoutBtn">Logout</button></div>
</div>
<%- include('../partials/footer') %>

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css"
/>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
  const logoutButton = document.getElementById("logoutBtn");

  logoutButton.addEventListener("click", async () => {
    try {
      const result = await Swal.fire({
        title: "Are you sure?",
        text: "You will be logged out of your account.",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Logout",
        cancelButtonText: "Cancel",
      });

      if (result.isConfirmed) {
        await fetch("/admin/logout", {
          method: "POST",
        });

        window.location.href = "/admin/";
      }
    } catch (error) {
      console.error("Error logging out:", error);
    }
  });
</script>
