<%- include('../partials/header') %>
<div style="background-color: yellow">
  <div class="header"><h1>ADmin dashboard</h1></div>
  <div class="table">
    <table>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Admin Status</th>
      <tr>
        <td>1</td>
        <td>Abin Anto</td>
        <td>abin98anto@gmail.com</td>
        <td>not an admin</td>
      </tr>
    </table>
  </div>
</div>
<%- include('../partials/footer') %>
