<%- include('../partials/header') %>
<div>
  <div class="header"><h1>Register new account</h1></div>
  <div class="input_fields">
    <input type="text" placeholder="enter your name" /><br />
    <input type="text" placeholder="enter your email" /><br />
    <input type="text" placeholder="enter your password" /><br />
    <input type="text" placeholder="enter your password again" /><br />
    <button class="login_button">Login</button>
  </div>
  <div class="new_user">
    <p>Existing user?<a href="/login"> Login</a></p>
  </div>
</div>
<%- include('../partials/footer') %>
