<%- include('../partials/header') %>
<div>
  <div class="header"><h1>Login</h1></div>
  <div class="input_fields">
    <input type="text" placeholder="enter your email" /><br />
    <input type="text" placeholder="enter your password" /><br />
    <button class="login_button">Login</button>
  </div>
  <div class="new_user"><a href="/">Create New Account</a></div>
</div>
<%- include('../partials/footer') %>
